body {
    font-family: 'Roboto', sans-serif;
    color: #434455 ;
    background-color: #FFFFFF

}


.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}


/*-------------HEADER-------------*/

 .logo-web {
    color: #4D5AE5;
    font-family: "Raleway" sans-serif; 
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
} 

.logo-web-studio{
color: #2E2F42;
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 1.17;
letter-spacing: 3;
text-transform: uppercase;
}

.studio{
    color: #2E2F42;
}

.header-list {
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-link {
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1,5;
    letter-spacing: 0.02em; 
}

.header-list:hover{
    color: #404BBF; 
}


.header-address {
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*--------------MAIN------------*/
    /*-----section-btn-----*/

    .btn-heder{
    color: #FFF;
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    }

    .btn-button{
        color:#FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.64px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: #4D5AE5;

       }
       .btn-button:hover{
        background-color: #404BBF;}
        .btn-button:focus{
            background-color: #404BBF;
        }
    

    /*-----section-banner-----*/

.section-banner{
    background-color:  #2e2f42:
}
    .section-banner-subtitle{
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
 
.section-banner-text{
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

   /*-----section-services-----*/

.section-services-header{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    background-color:#FFFFFF
}
   /*-----section-workers-----*/

   .section-workers{
    background-color: #F4F4FD;
   }

.section-workers-heder{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
  
.section-workers-list{
    background-color: #FFFFFF;
}

.section-workers-subtitle{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.section-workers-text{
    color: #434455;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02;
}